@use '../abstract/' as *;


.footer {
    padding-block: 56px;
    text-align: center;

    &__ul {
        margin-block: 3.5rem;

    }

    &__ul > * {
        display: block;
        @extend .alata;
        margin-block-start: 1rem;
    }

    &__a {
        text-decoration: none;
        color: var(--clr-white);

    }

   


    &__social {
        @include flex(center, center, row);
        gap: 1rem;
        margin-block-end: 1rem;
    }
}