@use '../abstract/' as *;


.menu {
    min-width: 375px;
    aspect-ratio: 9 / 16;
    background-image: url(../../assets/mobile/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    isolation: isolate;

    &.menu__hidden::after {
        content: '';
        position: absolute;
        inset:0;
        background-color: var(--clr-black);
        z-index: -1;  
    }

    &__wrapper {
        padding-block-start: 40px;
    }


    &__nav {
        @include flex(space-between, center, row);
    }

    &__logo {
        width: clamp(9rem, 7vw + 7rem, 12rem);
    }

    &__list {
        position: relative;
        width: 100%;
       
    }



    &__ul {
        width: 375px;
        position: absolute;
        left:-9rem;
        top: 2.3125rem;
        margin-block-start: 159px;

        & a {
            font-size: 24px;
            line-height: 0.96;

            @extend .josefin;
            text-transform: uppercase;
        }

        & a + a {
            margin-block-start: 1.5rem;
        }
    }

    
    &__list.menu__notShow {
        display: none;
    }
    
    &__li {
        display: block;
        color: #fff;
        text-decoration: none;

    }
}

.theSign {
    height: 650px;
}

.theSign.chau {
    display: none;
}

.sign {
    // margin-block-start: 163px;

   // width: 100%;
    // border: 1px solid var(--clr-white);
    
    
    &__hero {
        
        text-transform: uppercase;
        padding: 1.5rem;
        @extend .josefin;
     
        line-height: 1.05;
        width: 100%;
        border: 1px solid var(--clr-white);
        text-align: center;
    }

    
}

.menu__wrapper:has(.theSign) .sign {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}